body {
    margin: auto;
    max-width: 70em;
    
    font-family: "Impact", fantasy;
    color: #EEEEEE;

    background: #114411;
}

input[type=submit] {
    color: #FF0000;
    font-family: "Impact", fantasy;    
    background-color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

}

a:link {
   color: #FF4411;
}

a:visited {
   color: #FF0000;
}

a:hover {
   color: #FF0000;
}

a:active {
    color: white;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

div.login {
    background: #333333;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;    
    text-align: center;    
}

div.gamelist {
    padding-top:20px;
    background: black;
    text-align: center;
}


div.gameselect {
    overflow: hidden;
    margin-top: 10px;
    background: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

div.gametitle {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
    float: left;
    width: 15em;
    color: white;
}

div.gamedesc {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 15em;
    color: red;
}

div.gameowner {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 15em;
    color: white;
}

div.editown {
    margin-top: 40px;
    background: #883333;
    text-align: center;
}

div.messageboard {
    text-align: center;
    padding-top:20px;
    background: black;
}

div.messagelist {
    padding-top:5px;
}

div.message {
    margin-top: 20px;
    background: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    // border-style: solid;
}

p.messagebody {
    color: #00aa00;
    text-align: justify;
}
textarea.messagebody {
    border: 5px solid white;
    background: #333333;
    color: #00aa00;
    font-family: "Impact", fantasy;
    width: 60%;
    height: 100px;
}

div.newmessage {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.useradmin {
    padding-top:20px;
    background: black;
}

div.user {
    margin-top: 20px;
    background: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.newuser {
    background: #441111;
}

.username {
    display: inline-block;
    min-width: 4em;
    font-size: larger;
    color: #DD1111;
}

.user .userid {
    display: inline-block;
    width: 1em;
}

.user .pwinput {
    width: 8em;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}


div.updategame {
    overflow: hidden;
    margin-top: 10px;
    background: #333333;
    
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

div.roomlist {
    font-family: serif;
    overflow: hidden;
    margin-top: 10px;
}

div.roommain {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 10px;

    background: #661111;	
}

div.roomleft {
    margin-top: 0px;
    overflow: hidden;
    width: 35%;
    float: left;
}

div.roomright {
    margin-top: 0px;
    overflow: hidden;
    width: 60%;
    float: right;    
}

div.conditionlist {
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
}
    
div.condition {
    overflow: hidden;
    // background: #555555;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

div.newcondition {
    overflow: hidden;
}

div.conditionroomlist {
    width: 90%;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: hidden;
    float: left;
    background: #555555;
}

.roommain .conditionroom {
    text-size: small;
    margin-top: 0px;
    background: #555555;    
}

div.newroom {
    overflow: hidden;
    background: #661111;
}

.roommain textarea {
    width: 22em;
}

div.gameroom {
    padding-top: 1px;
    text-align: center;
    padding-top:20px;
    background: black;
}

div.gameroomtitle {
    padding-top: 1px;
    padding-bottom: 5px;
    color: red;
}

div.gameroomdesc {
    padding-top: 1px;
    padding-bottom: 5px;
    color: #00aa00;    
}

input.choice {
    width: 20em;
    margin-top: 5px;
}
div.messagefilterword {
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;    
}

span.deleteword {
    text-align: right;
}

.help {
    width: 80%;
}
.helpimage {
    display: table;
}

.helpimage > img {
    display: table-row;
}

.helpimage > span {
    display: table-row;
    font-style: italic;
    text-align: center;
}
