
body {
    margin: auto;
    max-width: 70em;
    
    font-family: "Impact", fantasy;
    color: #EEEEEE;

    background: #114411;
}
a:link {
   color: #FF4411;
}

a:visited {
   color: #FF0000;
}

a:hover {
   color: #FF0000;
}

a:active {
    color: white;
}

div {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

div.gamelist {
    padding-top:20px;
    background: #776666;
}


div.gameselect {
    overflow: hidden;
    margin-top: 10px;
    background: #333333;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.gametitle {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
    float: left;
    width: 15em;
}

div.gamedesc {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 15em;
    color: red;
}

div.editown {
    margin-top: 40px;
    background: #883333;
    text-align: center;
}

div.messageboard {
    text-align: center;
    padding-top:20px;
    background: #776666;

}

div.messagelist {
    padding-top:20px;
    background: #776666;
}

div.message {
    margin-top: 20px;
    background: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

p.messagebody {
    color: #00aa00;
    text-align: justify;
}


div.newmessage {
    margin-top: 20px;
    background: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.useradmin {
    padding-top:20px;
    background: #776666;
}

div.user {
    margin-top: 20px;
    background: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.newuser {
    background: #441111;
}

.username {
    display: inline-block;
    width: 4em;
    font-size: larger;
    color: #DD1111;
}

.user .userid {
    display: inline-block;
    width: 1em;
}

.user .pwinput {
    width: 8em;
}

.alignright {
    float: right;
}
