<h2>Edit users</h2>

{% for user in user_list %}
<form action="/updateuser" method="POST">
  User: {{ user.username }} ID: {{ user.id }}
  <input type="hidden" name="username" value="{{ user.username }}">
  Admin: <input type="checkbox" name="adm_selection" value="adm" {{ "checked" if user.admin else "unchecked" }}>
  Locked: <input type="checkbox" name="locked_selection" value="locked" {{ "checked" if user.locked else "unchecked" }}>
  New Password: <input type="password" name="password">
  Confirm Password: <input type="password" name="confirmpw">
  Delete: <input type="checkbox" name="delete_selection" value="delete" unchecked>
  <input type="submit" name="submit_button" value="Update">
</form>
<hr>
{% endfor %}

Create new user:
<form action="/createuser" method="POST">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  Confirm Password: <input type="password" name="confirmpw">
  <input type="submit" name="submit_button" value="Create">
</form>
