<h2>Game editing</h2>

<form action="/updategame" method="POST">
  <input type="hidden" name="game_id" value="{{ game.main.id }}">
  <p>Game title: <input type="text" name="title" value="{{ game.main.title }}">
  <p>Description: <textarea name="description" rows="5" cols="50">{{ game.main.description }}</textarea>
  <p>Public: <input type="checkbox" name="published_selection" value="published" {{ "checked" if game.main.published else "unchecked" }}>  
  <p>The game starts in room: <input type="text" name="start_room" value="{{ game.main.start_room }}">
  <p><input type="submit" name="submit_button" value="Update the game" >
</form>
<hr>

<h3>Rooms:</h3>

<form action="/newroom" method="POST">
  <input type="hidden" name="game_id" value="{{ game.main.id }}">
  Create new room: <input type="text" name="tag">
  <input type="submit" name="submit_button" value="Create room">
</form>
<hr>

{% for room in game.rooms %}
<form action="/updateroom" method="POST">
  <input type="hidden" name="game_id" value="{{ room.game_id }}">
  <input type="hidden" name="tag" value="{{ room.tag }}">
  <p>Room: <b>{{ room.tag }}</b> Title: <input type="text" name="title" value="{{ room.title }}">
  <p>Description:<br>
  <textarea name="description" rows=4 cols=50>{{ room.description }}</textarea>
  <p>
    Text shown during the first visit:<br>
    <textarea name="first_visit_description" rows=2 cols=50>{{ room.first_visit_description }}</textarea>
  <p>
    Text shown after the first visit:<br>
    <textarea name="next_visits_description" rows=2 cols=50>{{ room.next_visits_description }}</textarea>
  <p>Game ends here: <input type="checkbox" name="endroom_selection" value="endroom" {{ "checked" if room.endroom else "unchecked" }}>
  <p><input type="submit" name="submit_button" value="Update the room">
</form>
<hr>
<p>Choices and conditions in the room {{ room.tag }}:
  <form action="/newcondition" method="POST">
    <input type="hidden" name="game_id" value="{{ room.game_id }}">
    <input type="hidden" name="room_tag" value="{{ room.tag }}">
    <input type="submit" name="submit_button" value="Create new condition">
  </form>
</p>
{% for condition in game.conditions %}
{% if condition.room_tag == room.tag %}
<form action="/updatecondition" method="POST">
  <input type="hidden" name="id" value="{{ condition.id }}">
  <input type="hidden" name="game_id" value="{{ condition.game_id }}">
  <input type="hidden" name="tag" value="{{ condition.room_tag }}">
  If all the required rooms have already been visited, show:<br>
  <p>Description:
  <textarea name="all_visited" rows=2 cols=50>{{ condition.all_visited }}</textarea>
  <p>Otherwise show:
  <textarea name="not_all_visited" rows=2 cols=50>{{ condition.not_all_visited }}</textarea>
  <p>If all wisited, Player has a choice: <input type="text" name="all_visited_choice" value="{{ condition.all_visited_choice }}">
  which leads to the next room: <input type="text" name="all_visited_target" value="{{ condition.all_visited_target }}">
  <input type="submit" name="submit_button" value="Update">
  <input type="submit" name="submit_button" value="Delete">
</form>
<p>Rooms, which player must have visit before this choice will be available in this room:
{% for condition_room in game.condition_rooms %}
{% if condition_room.condition_id == condition.id %}
<form action="/removeconditionroom" method="POST">
  <input type="hidden" name="condition_id" value="{{ condition_room.condition_id }}">
  <input type="hidden" name="game_id" value="{{ condition_room.game_id }}">
  Room: <input type="text" name="room_tag" value="{{ condition_room.room_tag }}">
  <input type="submit" name="submit_button" value="Remove room from the list">
</form>
{% endif %}
{% endfor %}
  <form action="/newconditionroom" method="POST">
    <input type="hidden" name="condition_id" value="{{ condition.id }}">
    <input type="hidden" name="game_id" value="{{ room.game_id }}">
    <input type="text" name="room_tag">
    <input type="submit" name="submit_button" value="Add room to the list">
  </form>
<hr>
{% endif %}
{% endfor %}
<hr>
{% endfor %}
  

    
