{% extends "master.html" %}

{% block title %}Main page{% endblock %}

{% block content %}

</p>

<div class="gamelist">
<h2>You can enter these games:</h2>

{% for game in games.public_games %}
<div class="gameselect">
  <form action="/playgame" method="POST">
  <div class="gametitle">{{ game.title }}</div>
  <div class="gamedesc">{{ game.description }}</div>
  <div class="gameowner">Dungeon Master: {{ game.owner }}</div> 
  <input type="hidden" name="game_id" value="{{ game.id }}">
  <div class="alignright">
    <input type="submit" name="submit_button" value="Enter the adventure!">
  </div>
  </form>
  {% if game.game_id in games.current_rooms %}
  You have already started this game
  {% endif %}
</div>
{% endfor %}

<div class="editown">
<h2>Or edit your own game <a href="/editgame">here</a>!<h2>
</div>
</div>

<div class="messageboard">
  <h2>Share you thoughts and visions:</h2>

  <div class="messagelist">
    {% for message in messages %}
    <div class="message">
      <p class="messageheader">
	Message from <span class="username">{{ message.username }}</span> at {{ message.posting_date.strftime("%Y-%m-%d %H:%M:%S") }}</p>
      <p class="messagebody">
	{{ message.body }}</p>
    </div>
    {% endfor %}
  </div>
  
  <div class="newmessage">
    <form action="/message" method="POST">
      <textarea class="messagebody" name="body"></textarea>
      <br>
      <input type="submit" value="Send new message">
    </form>
  </div>
</div>

{% endblock %}


{% block login %}
<div class="login">
  <form action="/login" method="POST">
    <div>
      <span class="alignleft">Username:</span>
      <input class="alignright" type="text" name="username">
    </div>
    <div>
      <span class="alignleft">Password:</span>
      <input class="alignright" type="password" name="password">
    </div>
    <p><input type="submit" value="Login"></p>
  </form>
  <p>A new user? <a href="/newuser">Sign up!</a></p>
</div><!-- class="login"> -->
{% endblock %}



