{% if session.logged_in %}
<p>You are logged in as {{ session.username }} ({{ session.user_id }})

{% if session.adm  %}
  You are an Administrator:
  <a href="/adminusers">User accounts</a>
  <a href="/bannedwords">Manage message filter</a>
{% else%}
You are normal user
{% endif %}
<a href="/logout">Log out</a>
</p>

<hr>
<h2>
  You can enter these games:
</h2>

{% for game in games.public_games %}
<p>
  {{ game.title }} : {{ game.description }}
    <form action="/playgame" method="POST">
    <input type="hidden" name="game_id" value="{{ game.id }}">
    <input type="submit" name="submit_button" value="Enter the adventure!">
  </form>
  {% if game.game_id in games.current_rooms %}
  You have already started this game
  {% endif %}
<hr>
{% endfor %}

<hr>
Or edit your own game <a href="/editgame">here</a>!
<hr>
<h3>Message board for the poets of you:</h3>
{% for message in messages %}
<p>
  Message from {{ message.username }} at {{ message.posting_date.strftime("%Y-%m-%d %H:%M:%S") }}
<p>
  {{ message.body }}
<hr>
{% endfor %}

<form action="/message" method="POST">
  <textarea name="body" rows="4" cols="50"></textarea>
  <input type="submit" value="Send new message">
</form>




{% else %}
<form action="/login" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Login">
</form>
<a href="/newuser">Sign up</a>

{% endif %}

