<!doctype html>
<title>Multicave - {% block title %}{% endblock %}</title>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css' )}}">
</head>

{% if session.logged_in %}
<p>You are logged in as

  <span class="username">{{ session.username }}</span>
  
  {% if session.adm  %}
  You are an Administrator:
  <a href="/adminusers">User accounts</a>
  <a href="/bannedwords">Manage message filter</a>
  {% else%}
  You are a normal user.
  {% endif %}
  <a href="/logout">Log out</a>
  <a href="/">Main page</a>
  {% block content %}{% endblock %}
  {% else %}
  {% block login%}{% endblock %}
  {% endif %}
