{% extends "master.html" %}

{% block title %}Create new user{% endblock %}

{% block content %}
<h1>You are already logged in.</h1>
<p>How did you get here anyways..?</p>
{% endblock %}

{% block login %}
<div class="login">
  <h2>Create a new user account</h2>
  <form action="/createuser" method="POST">
    <div>
      <span class="alignleft">Username:</span>
	<input class="alignright" type="text" name="username">
    </div>
    <div>
    <span class="alignleft">Password:</span>
      <input class="alignright" type="password" name="password">
    </div>
    <div>
      <span class="alignleft">Confirm password:</span>
      <input class="alignright" type="password" name="confirmpw">
    </div>
    <p><input type="submit" value="Sign up"></p>
  </form>
  <p>Back to the <a href="/">front page</a></p>
</div><!-- class="login"> -->
{% endblock %}
